.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #0a3552;
  font-size: 16px;
  font-weight: 500;
}

.react-datepicker__input-container input::placeholder {
  color: #00263FCC;
}